@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
}

header {
    font-family: Abril Fatface;
}

.main-title {
    text-align: center;
}

.main-title a {
    text-decoration: none;
    color: black;
}

h5 {
    color: red;
}

nav {
    
    padding: 0 0.5em;
}

ul{
    padding: 5px 7px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

nav li {
    display: inline;
    padding: 6px;
    
}

a:not(.main-title a) {
    text-decoration: none;
    color: #777;
}

header, main, .more-articles {
    padding: 0em 0em 0em 1.5em
}
.article-title {
    font-family: Roboto Slab;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 25px;
    box-shadow: 2px 2px #ddd;
    margin: auto;
}

.newspaper-container:hover {
    box-shadow: 3px 3px rgba(105, 103, 103, 0.777);
}

.more-articles {
    display: grid;
    grid-template-columns: 20em 20em;
    max-width: 50%;
}

.more-articles section {
    border-top: 1px solid lightgray;
}

.article-2 {
    border-right: 1px solid lightgray;
}

.article-3 {
    padding-left: 1.2em;
}