@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
}

header {
    font-family: Abril Fatface;
}

.main-title {
    text-align: center;
}

.main-title a {
    text-decoration: none;
    color: black;
}

h5 {
    color: red;
}

nav {
    
    padding: 0 0.5em;
}

ul{
    padding: 5px 7px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

nav li {
    display: inline;
    padding: 6px;
    
}

a:not(.main-title a) {
    text-decoration: none;
    color: #777;
}

header, main, .secondary-main {
    padding: 0em 0em 0em 1.5em
}
.article-title {
    font-family: Roboto Slab;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 25px;
    box-shadow: 2px 2px #ddd;
    margin: auto;
}

.newspaper-container:hover {
    box-shadow: 3px 3px rgba(105, 103, 103, 0.777);
    transform: scale(1.01);
}

.secondary-main {
    display: grid;
    grid-template-columns: 20em 20em;
    max-width: 50%;
}

.secondary-main section {
    border-top: 1px solid lightgray;
}

.article-2 {
    border-right: 1px solid lightgray;
}

.article-3 {
    padding-left: 1.2em;
}

/* html&css page */
.css-article {
    padding: 1.5em;

}

.css-article h2 {
    border-top: 1px solid #777;
    padding-top: 2em;
}

.css-article img{
    object-fit: contain;
    max-width: 35em;
}

/* ux & ui page */
.ux-ui-article img {
    object-fit: contain;
    max-width: 35em;
}

.ux-ui-grid {
    display: grid;
    grid-template-columns: 14.5em 14.5em 14.5em;
    grid-template-rows: 10em 10em 10em 10em;
    
}

.ux-ui-grid img {
    padding: 4%;
}
.ux-ui-grid img:hover {
    transform: scale(1.05)
}

/* javascript page */
.javascript-article img {
    max-width: 35em;
}