@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
}

header {
    font-family: Abril Fatface;
}

h1 {
    text-align: center;
}

h5 {
    color: red;
}

nav {
    
    padding: 0 0.5em;
}

ul{
    padding: 5px 7px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

nav li {
    display: inline;
    color: #777;
    padding: 6px;
    
}

a {
    text-decoration: none;
    color: #777;
}

header, main, .more-articles {
    padding: 0em 2em;
}
.article-title {
    font-family: Roboto Slab;
}

.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 25px;
    box-shadow: 2px 2px #ddd;
    margin: auto;
}

.more-articles {
    display: grid;
    grid-template-columns: 20em 20em;
}